html {
  font-size: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  width: 50%;
  margin: auto;
  box-shadow: 0px 0px 3px 0px grey;
  font-family: "Arial", sans-serif;
}
@media screen and (max-width: 1700px) {
  body {
    width: 65%;
  }
}
@media screen and (max-width: 1500px) {
  body {
    width: 75%;
  }
}
@media screen and (max-width: 1300px) {
  body {
    width: 85%;
  }
}
@media screen and (max-width: 1100px) {
  body {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

.footer {
  position: sticky;
  bottom: 0;
}

.header {
  background-color: #579C87;
  text-align: center;
  height: 10rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
}
.header__logo {
  color: #FDCB46;
  font-size: 4rem;
  margin: auto;
  letter-spacing: -0.3rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}
.main__title {
  width: 75%;
  margin-top: 4rem;
}
.main .section-menu {
  box-shadow: 0px 0px 3px 0px grey;
  margin-bottom: 3rem;
  width: 75%;
}
.main .section-menu > h2 {
  margin: 0.5rem 0 4rem 0;
}
.main .section-menu__footer {
  margin-top: 3.5rem;
}

.article-menu {
  margin-bottom: 3rem;
}
.article-menu__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
  margin: 2.5rem 2.5rem 1rem 2.5rem;
}
.article-menu__header h3 {
  margin: 0 auto;
}
.article-menu__header h3::after {
  content: "";
  display: block;
  border-bottom: solid 1px;
  width: 100%;
  max-width: 0;
  transition: max-width, 200ms linear;
}
.article-menu__header h3:hover:after {
  max-width: 100%;
}
.article-menu__list {
  text-align: left;
  list-style: none;
  margin-right: 2.5rem;
}
.article-menu__list li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1.2rem;
}
.article-menu__list span {
  text-align: right;
  flex-grow: 1;
  font-weight: bold;
}

.section-menu {
  background-color: #f9f9f9;
  font-family: "Dancing Script", sans-serif;
}
.section-menu__header {
  background: linear-gradient(to right, #0000CD, #00BFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  margin: 6rem auto;
}
.section-menu .article-menu {
  font-family: "Segoe Print";
}
.section-menu .article-menu__header .left {
  transform: scaleX(-1);
}
.section-menu .article-menu__header img {
  width: 35%;
}
.section-menu .article-menu__header h3 {
  font-size: 1rem;
  font-weight: normal;
}
.section-menu .article-menu__list {
  margin: 0 4rem 3rem 5rem;
  font-size: 0.9rem;
}
@media screen and (max-width: 599px) {
  .section-menu .article-menu__list {
    margin: 0 2rem 3rem 1rem;
  }
}
.section-menu .article-menu__list li {
  margin-bottom: 0.8rem;
}
.section-menu .article-menu__list span {
  font-weight: normal;
  font-size: 1.05rem;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  background-color: #579C87;
  height: 4rem;
}
.footer a {
  margin: auto 2rem;
  color: #FDCB46;
  font-size: 1.5rem;
}
@media screen and (max-width: 599px) {
  .footer a {
    font-size: 0.99rem;
  }
}
.footer a:hover {
  display: inline-block;
  animation: wiggle 1s infinite alternate;
}

@-webkit-keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=menu3.css.map */
