/******
GENERAL
 *****/
.fa-book, .fa-pencil-alt, .fa-suitcase {
    color: #78909C;
    font-size: 30px;
    margin: auto 0 auto 0;
}
.fa-dot-circle {
    color: #78909C;
    font-size: 10px;
}
.fa-circle {
    font-size: 6px;
}

.return::before {
    content: "";
    display: block;
    clear: right;
}

body {
    font-family: Arial, sans-serif ;
    margin: 10px auto 10px auto;
    width: 951px;
    box-shadow: 3px 0 10px black;
}
.header-section, .flex-section, .hobbies{
    display: flex;
    flex-direction: row;
}
.article-train, .article-xp, .aside-left, .header{
    display: flex;
    flex-direction: column;
}
/*text color*/
.aside-left, .article-xp, .article-train, .reco, .date, .job-name{
    color: #424242;
}
/*****
HEADER
 ****/
.header {
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 210px;
    width: 100%;
    background: linear-gradient(to right,#78909C 33%,  #ffffff 33%);
}
.myface {
    border-radius: 50%;
    border: solid #556D7E;
    width: 150px;
    height: 150px;
    margin: 50px auto 20px 80px;
}
.name{
    text-transform: uppercase;
    margin: 90px 0 10px 40px;
    width: 500px;
    font-weight: lighter;
    font-size: 40px;
}
.name-color {
    color: #78909C;
    font-weight: bold;
}
.job-name {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0 40px;
}
.job-name::after {
    display: block;
    content: "";
    left: 30px;
    height: 1px;
    width: 49px;
    border-bottom: #78909C 2px solid;
}
/***
MAIN
 ***/
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 1250px;
}
.flex-section {
    width: 67%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.header-section {
    width: 100%;
    margin: auto 35px 10px 60px;
    padding-bottom: 15px;
    border-bottom: #78909C solid 2px;
}
.training {
    margin-top: 50px;
}
.section-title {
    text-transform: uppercase;
    width: 80%;
    margin: auto auto auto 30px;
}
.aside-left {
    width: 33%;
    height: 100%;
}
.article-train, .article-xp{
    margin: 0;
    width: 100%;
    height: 150px;
    flex-wrap: wrap;
    align-items: flex-start;
}
ul.fa-ul {
    margin-left: 80px;
}
.article-title {
    width: 54%;
    margin: 16px 35px 6px 0;
    font-size: 16px;
    text-transform: uppercase;
}
.article-name {
    font-size: 16px;
    margin-bottom: 5px;
}
.article-text{
    width: 54%;
    font-size: 12px;
    text-align: justify;
}
.article-subtitle {
    width: 54%;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}
.list-date, .last-date {
    width: 28%;
    height: 150px;
}
.list-date{
    color: #78909C;
}
.date, .latest-date {
    font-size: 12px;
}
.date {
    font-weight: bold;
}
.list-reco {
    list-style: none;
    margin: 0;
    padding: 0;
}
.reco-list {
    margin-bottom: 5px;
}
.reco{
    margin:  0 110px 0 60px;
}
.article-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.reco-name, .reco-tel {
    font-weight: bold;
}
.reco-name, .reco-tel, .reco-email {
    font-size: 12px;
}
/*****
ASIDE
*****/
.aside-left {
    background-color: #78909C;
}

.aside-title {
    width: 100%;
    color: #78909C;
    height: 35px;
    text-align: center;
    background: #424242;
    padding-top: 5px;
}
.contact-list {
    list-style:none;
    margin: 40px 0 40px 0;
    font-size: 14px;
}
.list-contact{
    margin-bottom: 20px;
}

.text-me {
    margin: 40px 20px 0 20px;
    text-align: justify;
    font-size: 14px;
}
.about-me {
    flex-grow: 1;
}
.hobbies {
    flex-wrap: wrap;
    justify-content: center;
}
.img{
    width: 45px;
    height: 45px;
    margin:15px;
    font-size: 35px;
    color: #424242;
    text-align: center;
    border-radius: 50%;
    border: 1px #424242 solid;
    padding: 4px;
}

.leaf::before, .tv::before, .car::before {
    position: relative;
}
.leaf::before{
    top:8px;
}
.car::before{
    top: 10px;
}
.tv::before{
    top:10px;
}

@media (max-width: 950px) {

    body {
        width: 475px;
    }

    .header {
        height: 100px;
    }
    .myface {
        width: 80px;
        height: 80px;
        margin: auto 39px auto 37px ;
    }

    .name {
        margin:  40px 0 0 20px;
        font-size: 24px;
    }
    .job-name
    {
        margin-left: 20px;
        font-size: 14px;
    }
    .job-name::after {
        width: 39px;
    }

    .main {
        height: 1420px;
    }
    .training {
        margin-top: 20px;
    }
    .header-section {
        margin: 0 20px 0 30px;
        padding-bottom: 10px;
    }
    .section-title {
        font-size: 14px;
    }
    .fa-book, .fa-pencil-alt, .fa-suitcase {
        font-size: 14px;
    }

    .article-train, .article-xp{
        width: 100%;
        height: 190px;
        margin: 0;
    }
    ul.fa-ul {
        margin-left: 50px;
    }
    .list-date, .last-date {
        width: 30%;
    }
    .date {
        font-size: 11px;
    }

    .article-subtitle, .article-text, .article-title {
        width: 48%;
    }
    .article-title {
        font-size: 14px;
    }
    .article-subtitle, .article-name {
        font-size: 12px;
    }
    .article-text {
        font-size: 10px;
    }
    ul.article-text {
        list-style: none;
        padding-left: 0;
    }

    .reco {
        width: 30%;
        margin: 0 33px 0 30px;
    }
    .reco-list {
        font-size: 10px;
    }

    .aside-title {
        height: 25px;
        font-size: 16px;
    }
    .contact-list {
        padding-left: 20px;
        margin: 10px auto 0 auto;
    }
    .list-contact, .text-me {
        font-size: 10px;
    }
    .img{
        width: 25px;
        height: 25px;
        margin: 5px;
        font-size: 20px;
    }

    .leaf::before{
        top:5px;
    }
    .car::before{
        top: 6px;
    }
    .tv::before{
        top:6px;
    }
}
@media (max-width: 475px) {

    body {
        width: 360px;
        box-shadow: none;
        margin: 0;
    }
    .header {
        height: 75px;
    }
    .myface {
        width: 50px;
        height: 50px;
        margin: auto 35px auto 32px ;
    }

    .name {
        margin:  20px 0 0 10px;
        font-size: 20px;
    }
    .job-name
    {
        margin-left: 10px;
        font-size: 12px;
    }
    .job-name::after {
        width: 34px;
    }

    .main {
        height: 850px;
    }
    .training {
        margin-top: 25px;
    }
    .header-section {
        margin: 0 20px 0 30px;
        padding-bottom: 5px;
    }
    .section-title {
        font-size: 12px;
        margin-left: 15px;
    }
    .fa-book, .fa-pencil-alt, .fa-suitcase {
        font-size: 14px;
    }
    .article-train, .article-xp{
        width: 100%;
        height: 111px;
        margin: 0;
    }
    ul.fa-ul {
        margin: 0 0 0 50px;
    }
    .fa-dot-circle {
        font-size: 8px;
    }
    .fa-circle {
        font-size: 4px;
    }
    .list-date, .last-date {
        width: 30%;
    }
    .date {
        font-size: 8px;
    }

    .article-subtitle, .article-text, .article-title {
        width: 35%;
    }
    .article-title {
        font-size: 8px;
    }
    .article-subtitle, .article-name {
        font-size: 7px;
    }
    .article-text {
        font-size: 6px;
    }
    ul.article-text {
        list-style: none;
        padding-left: 0;
    }

    .reco {
        width: 30%;
        margin: 0 15px 0 30px;
    }
    .reco-list {
        font-size: 6px;
    }

    .aside-title {
        height: 20px;
        font-size: 12px;
    }
    .contact-list {
        padding-left: 15px;
        margin: 20px auto 0 auto;
    }
    .list-contact, .text-me {
        font-size: 8px;
    }
    .list-contact {
        margin-bottom: 5px;
    }
    .text-me {
        margin: 20px 10px 0 10px;
    }
    .img{
        width: 15px;
        height: 15px;
        margin: 0 4px 5px 4px;
        font-size: 15px;
    }

    .leaf::before{
        top:2px;
    }
    .car::before, .tv::before{
        top:2px;
        left: -2px;
    }
}