@import "../utils/variables";
@import "../utils/lists";
@import "../utils/mixins";

.menu {
  @include display($flex, $wrapped);
  @include mobileOnly($mobileSize) {
    flex-direction: column;
    margin: auto;
  }
  a {
    width: nth($width-size,2);
    margin: 0 auto 3rem auto;

    @include mobileOnly($mobileSize) {
      margin: 5% 0;
      width: 100%;
    }
  }
  .article {
    width: nth($width-size, 4);
    height: 25rem;
    box-shadow: $box-shadow;
    @include display($flex, $wrapped, $content-center, $flex-column);
    text-align: center;
    @include decoButton(1rem, 2rem);
    transition: transform, 400ms;
    opacity: 1;
    &:hover {
      transform: scale(1.15);
      opacity: 0.5;
    }
    img {
      width: 25%;
      height: 25%;
      margin: 0 auto;
    }
    h2 {
      text-align: center;
      width: 100%;
      font-weight: normal;
      margin : 0 0 2rem 0;
    }
    p {
      margin : 0;
    }
    &__2 {
      h2 {
        @include gradientText(to right, nth($colorGradMenu2,1), nth($colorGradMenu2,2));
      }
    }
    &__3 {
      h2 {
        @include gradientText(to right, nth($colorGradMenu3,1), nth($colorGradMenu3,2));
      }
    }
    &__4 {
      h2 {
        @include gradientText(to right, nth($colorGradMenu4,1), nth($colorGradMenu4,2));
      }
    }
  }
}