@import "../utils/variables";
@import "../utils/lists";
@import "../utils/mixins";
.section-menu {
  background-color: nth($color-menu, 1);
  color : nth($colorTextButtonMenu,1);
  &__header {
    font-family: nth($fontNameMenu,1), sans-serif;
    font-size: 1.5rem;
    img {
      margin-top: 3rem;
      width: 70px;
      height: 70px;
    }
    h2 {
      margin-top: 0;
      font-size: nth($menuFontSize,1);
    }
  }
  .article-menu {
    font-family: nth($font,1);
    h3 {
      font-size: nth($menuFontSize,2);
    }
    &__list {
      font-size: nth($menuFontSize,3);
      span {
        font-size: nth($menuFontSize,4);
      }
    }
  }
  &__footer {
    font-family: nth($fontNameMenu,1), sans-serif;
    font-size: 2rem;
    @include display($flex, $default-wrap, $content-center);
    margin-bottom: 3.5rem;
    img {
      width: 37px;
      height: 37px;
      margin: auto 1rem auto 0;
    }
  }
}