$margin-size : 0, auto, 1rem, 2rem;
$width-size : 33%, 40%, 50%, 100%, 75%;
$height-size : 100%, 10rem, 4rem;
$fontSizeMobile : 1.2rem, 0.99rem;
$font-size : 4rem, 1.75rem, 1.5rem;
$menu2FontSize : 2rem, 1.12rem, 0.9rem;
$menu3FontSize : 2rem, 1rem, 0.9rem;
$menu4FontSize : 2rem, 1rem, 0.9rem;
$box-shadow : 0px 0px 3px 0px grey;
$color-menu : #fcdfdb, #fff5fe, #f9f9f9, #fdfffd;
$colorTextButtonMenu : #3C1218, #c16800, #0887fb, #72bf56;
$colorTextMenu2 :#c16800, #975089, #5d39c6;
$colorGradMenu2: #c16800, #9966FF;
$colorGradMenu3: #274E9D, #13a8fb;
$colorGradMenu4: #72bf56, #C0D673;
$font : "Segoe Print", "Baskerville";
$fontNameMenu : "Devonshire", "Croissant One", "Dancing Script", "Kaushan Script";
