@import "lists";
$breakpoint : (
        firstresize : (
                size: 1700px,
                width: 65%,
        ),
        sndresize : (
                size: 1500px,
                width: 75%,
        ),
        trdResize : (
                size: 1300px,
                width: 85%,
        ),
        fourResize : (
                size: 1100px,
                width: 100%,
        ),
);


$mapDelay : (
        suspension : (
                1: 0.1s,
                2: 0.2s,
                3: 0.3s
        )
);
