$color-text : #FDCB46;
$background-color : #579C87;
$flex : flex;
$block : block;
$default-wrap: nowrap;
$wrapped: wrap;
$default-flexdir : row;
$flex-start : flex-start;
$flex-column: column;
$content-center : center;
$width: auto;
$height: auto;
$mobileSize : 599px;
$nbArticle : 4;