@import "../utils/variables";
@import "../utils/lists";
@import "../utils/mixins";

.footer {
  @include display($flex, $default-wrap, space-between);
  background-color: $background-color;
  height: nth($height-size, 3);
  a{
    margin: auto nth($margin-size, 4);
    color: $color-text;
    font-size: nth($font-size, 3);
    @include mobileOnly($mobileSize) {
      font-size: nth($fontSizeMobile, 2);
    }
    &:hover {
      display: inline-block;
      animation: wiggle 1s infinite alternate;
    }
  }
}

@-webkit-keyframes wiggle {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(5deg); }
  40% { transform: rotate(-5deg); }
  60% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}