@import "../utils/variables";
@import "../utils/lists";
@import "../utils/mixins";

.header {
  background-color: $background-color;
  text-align: center;
  height: nth($height-size, 2);
  @include display();
  &__logo {
    color: $color-text;
    font-size: nth($font-size, 1);
    margin: nth($margin-size, 2);
    letter-spacing: -0.3rem;
  }
}